html{
    margin: 0;
}
body{
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
    overflow-x: hidden;}
ul{
    margin: 0;
    list-style: none;}
section{
    width: 100%;}
i{
 margin-left: 10;}
a{
    color: #ea5c22;
}
a:hover,a:focus{
    color: #ff7840;}
.main {
	background-color: #eee;}
/**--------- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.flip-180 {
	transform: rotate(180deg);
}
.center-page {
    width: 100%;
    margin: 0 auto;
}
hr{margin: 0;padding: 0;}
/*--------------------Top level navigation --------------*/
/*---Header--*/
.header  {
    height: auto;
    background-color: #fff;}
nav ul  li{
    display: inline-block;}
.menu-text {
	padding-right: 7rem;
}

/*
*
*Banner
*/
#kitchen__banner{
    width: 100%;
    position: relative;
    min-height: 150px;
    max-height: 400px;
    overflow: hidden;}

.banner{
    position: relative;
    background-size: cover;
    max-width: 100%;
    max-height:auto;}

.image-banner{
    position: relative;
    width: 100%;
    height: 100%;}

.detail{
    position: absolute;
    bottom: 80px;
    left: 380px;}


.general-banner {
    background: #fafafa;
    display: block;
	width: 100%;
    border-top: 1px solid #9e9e9e;
    position: relative;
    height: auto;
    min-height: 150px;
    max-height: 450px;
    overflow: hidden;}
    .general-banner-userProfileData {
     position: absolute;
     top: 20px;
     display: block;
     width: 300px;
     font-size: 13px;
     /*margin: 30px;*/
     text-align: center;}
    .general-banner-userImage {
        margin: 0 auto;
        height: 100px;
        width: 100px;
        border: 1px solid #000;
        border-radius: 100%;}
    .general-banner-userInfo {
	  position: relative;}
    .general-banner-userInfo > .general-banner--KitchenType,.general-banner--KitchenType{
      display: block;}
    .img-right {
	 position: absolute;
     right: -30px;
     top: 40px;
     transform: rotate(170deg);}
    .img-left {
	 position: absolute;
     left: 0;
     top: 0;}
    .g-largeHolder {
	  width: 400px;}
    .kitchen-banner{min-height: 270px;background: #fafafa;}
    .kitchen-profImage {
	  height: 90px;
      width: 90px;
      border-radius: 100%;}
    .g-edit-icon {
	  position: absolute;
      top: 0;
      right: 0;
      display: none;}
.kitchen-about:hover + .g-edit-icon{
    display: block;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .general-banner-userProfileData{
        width: 100%;
    }
}

/*
*
*Dishi about
*
*/
section.about-info {
    padding: 1em;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid #9e9e9e;
    top: 0px;
	width: 100%;
    height: 1000px;
    /*box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.9);*/}
    .about-tabs {
	margin: 0 auto;}
    .about-header {
     font-family: 'Dancing Script', cursive;
	 color: #ea5c22;
     font-size: 3em;}
       .FAQ-header {
	color: #ea5c22;}
    .FAQ-stretch {
	  width: 60%;
      top: 30%;
      left: 20%;}
    .img-reduce {
	  height: 150px;}
    .align-imgLeft {
	  position: absolute;
      top: 50px;}
    .align-imgbottom {
	   position: absolute;
        left: 13%;
        top: 176.1%;
}
    .align-imgRight{
    position: absolute;
    top: 50px;
}
/*
*Kitchen__menu
*k-inner__nav
*
*/
/*.k-inner__nav {
	margin-left: em;}*/


/*------------- Kitchen Menu------------*/
#kitchen__menu {
    background-color: #fafafa;
    position: relative;
	height: auto;
    width: 100%;
    min-height: 71.5px;
    padding: 2px;
    border-bottom: 0px solid #fff;
/*    padding: 0;*/
    margin: 0;
}

    #kitchen__logo {
        background-color: #000;
        height: 150px;
        width: 150px;
        border: 3px solid #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        left: 50px;
        overflow: hidden;
    }

    #kitchen_menu_list{
        width: auto !important;
/*        max-width: 750px;*/
/*        min-width: 685px;*/
        height: 100%;

        padding: 0;
        margin: 0 auto;
    }

    ul.tabs#mykitchen-tabs {
        height: 100%;
        min-height: 71.5px;
/*        max-width: auto !important;*/
        width: auto !important;
        position: relative;
    }

    ul.tabs#mykitchen-tabs li {
/*        width: 20%;*/
    }

    ul.tabs#mykitchen-tabs li a{
/*        width: auto;*/
        text-align: center;
        padding: 1.25rem 1rem;
        white-space: nowrap;

        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
            }
    }

    ul.tabs#mykitchen-tabs li a span {
        width: auto;
    }

        /* Large and up */
        @media screen and (min-width: 64em) {
            #kitchen_menu_list {
/*                width: 750px !important;*/
            }
        }


        /*  Medium Only*/
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            #kitchen__menu {
                height: auto;
/*                min-height: 20px;*/
            }

            #kitchen_menu_list{
                width: 100%;
                min-width: 39em;
                max-width: 63.8em !important;
                margin: 0 auto;
                padding: 0;
            }

            ul.tabs#mykitchen-tabs li {
                flex: 1;
            }

            ul.tabs#mykitchen-tabs li a{

            }
            ul.tabs#mykitchen-tabs li a span {
                width: auto;
            }

            #kitchen__logo{
                bottom: 65px;
                height: 100px;
                 width: 100px;
            }
            .k-inner__nav {
                margin-left: 1em;
            }


        }


     /* Small only */
    @media screen and (min-width: 20em) and  (max-width: 39.9375em) {
        #kitchen__menu {
            height: auto;
            min-height: 120px;
            margin: 0;
            padding: 5px 0px !important;
        }

        #kitchen_menu_list{
            width: 100%;
            height: 100%;
            min-width: 100%;
            max-width: 39em !important;
            margin: 0 auto;
            padding: 5px 0px;
        }

        ul.tabs#mykitchen-tabs {
            width: auto;
            min-width: 100%;
            height: auto;
            position: relative;

            display: flex;
            flex-flow: row wrap;
            justify-content:center;
            align-content: center;
            align-items: center;
        }

        ul.tabs#mykitchen-tabs li{
            width: auto;
        }

        ul.tabs#mykitchen-tabs li a{
            padding: 5px 7px;

        }
        ul.tabs#mykitchen-tabs li a span {
            width: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
/*            flex-flow:row wrap;*/
        }

        ul.tabs#mykitchen-tabs li a span> span {
            width: 5px;
        }
        #kitchen__logo{
            width: 80px;
            height: 80px;
            bottom: 80px;
            left:5px;
        }


    }

/* Really Small only */
    @media screen and (max-width: 20em) {
        #kitchen__menu {
            height: auto;
            min-height: 100px;
            margin: 0;
            padding: 0 !important;
        }

        #kitchen_menu_list{
            height: auto;
            width: 100%;
/*            min-width: 20em;*/
            max-width: 30em !important;
            margin: 0 auto;
            padding: 5px 0px;
        }

        ul.tabs#mykitchen-tabs li a{
            padding: 3px 5px;

        }
    }
.tabs-title {}

.tabs-title > a {
      display: inline-block;
/*      padding: 1.0rem 1.0rem;*/
      line-height: 1;
      font-size: 14.5px;
      color: #212121;
}

  /*Medium only*/
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .k-inner__nav {
        width: 100%;}

        .tabs-title {
           height: 100%;
           width: auto;
        }

        .tabs-title > a{
            height: 100%;

            }

        .k-link.badge {
            display: block;}
        .tabs-title > a{
            font-size: 12px;
            width: auto;}

    }
    /*Large*/
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {
        .k-inner__nav {
           height: auto;}
        .tabs {
         width: 100%;
         /*display: inline;*/
         font-size: 13px;
        }
    }

        /*Small only*/
        @media screen and (max-width: 39.9375em) {
        .k-inner__nav {
              margin: 0;
              width: 100%;
              display: inline-block;
	      }
        .tabs {
            width: 100%;
            display: inline;
            font-size: 10px;
            margin-left: 0;
            }
        .tabs-title {
	       width: 7.8em;
            }
         .tabs-title > a{
             position: relative;
/*           padding: 1rem .5rem;*/
/*             padding: 1.25rem 1.5rem;*/
             font-size: 10px;
             width: auto;
            }
        .tabs-content {
            font-size: 13.5px;
            /*margin-left: -7.5em;*/
            margin-right: 0;
            }
        }
    tabs-panel{
        padding: 0;
    }
        /*Large only*/
        @media screen and (min-width: 64em) {
            .tabs {
	           margin: 0;
            }
    }




/*----------------------------------------------  */
.menu-pic{
    overflow: hidden;
    height:170px ;
    background-color: beige;}
.item {
	padding: .5em;}
.menu-title {
    object-fit: contain;
    background-color: #fef;
    height: auto;}


/*****rewrite css*********/
.info {
	margin: 0;}
.pad {
	padding: 0  1em;
}


/*----------------------------------------------*/
/*--------------Kitchen content ----------*/
#kitchen-contents {}
#kitchen-contents .row.Flex {
    width: 100%;
    height: auto;
    margin: 0 auto!important;

    align-items:flex-start;
}

/*---------------Side Nav------------------*/
/*left data*/
.styled-grid {
    width: 25%;
    min-width: 300px;
    height: 100%;
    padding: 0;
}

 .kitchen-about {
    position: relative;
    padding: 10px;
    margin: 30px 0px 0px 20px;
}

     /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .styled-grid {
            width: 27% !important;
            min-width: 230px !important;
            height: 100%;
            padding: 0;
            margin: 0 auto;
        }
        .kitchen-about {
/*            padding: 10px;*/
            margin: 30px 0px 0px 20px;
        }
    }

    /* Small only */
    @media screen and (max-width: 39.9375em) {

    }

/*info in left nav*/
.kitchen-data{
    position: relative;
    display: block;
    margin: 15px 0;
    line-height: 40px;
    width: 100%;}

   .kitchen-data >i,.icon {
       position: relative;
       display: inline;
   	max-width: 7px;
       margin-right: .3em}
   .kitchen-data >.icon-text {
       position: absolute;
   	left: 2em;}

    /*small screen*/
    @media screen and (max-width: 39.9375em) {
        .styled-grid {
	       display: none;
        }
        #mobile-about {
	    display: block;
        }

        .kitchen-data.follow {
            position: relative;
            height: 35px;
            margin-top: 5%;
        }
        .kitchen-data.follow .button {
            width: 60%;
            height: 35px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        .kitchen-data.follow .button {}
    }


/*---------*/
/*right data*/
.k-content {
    width: 75%;
    max-width: calc(100% - 300px);
    height: 100%;
    float: left !important;
    padding: 0;
    margin: 0 auto;
}

        /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .k-content {
            width: 70% !important;
            max-width: calc(100% - 230px) !important;
            height: 100%;
            margin: 0 auto;
            padding: 0;
        }
}
    /* Small only */
    @media screen and (max-width: 39.9375em) {
        .k-content {
            width: 100%;
            height: 100%
        }
    }

.k-content>#row{
    margin: 0 auto;
}

.k-content>#row>.columns {
    padding: 0;
}

.k-content .tabs-content {
    background:#eee;
    transition: all 0.5s ease;
    border: 1px solid #eee;
    border-top: 0;
}

    /*Large*/
    @media screen and (max-width: 74.9375em) and (min-width: 64em) {
        .tabs-content {
            padding: 0;
        }
    }

    /*Medium only*/
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .tabs-content {
           width: 100%;
            margin: 0;
        }
    }

.k-content .tabs-content .tabs-panel#dishes{
    position: relative;
    padding: 0
}

#dishes ul#grid{
    margin: 0 auto;
    padding: 0;
    width: inherit;

    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

#dishes ul#grid .grid-sizer {
    padding: 0;
    width: 0px !important;
    height: 0px !important;
}

#dishes ul#grid .grid-item{
    margin: 0 auto;
    padding: 10px 10px 0px 0px;


}

.grid-sizer, .grid-item{
    width: 40% !important;

}
   /*Large*/
    @media screen and (max-width: 100.9375em) and (min-width: 74em) {
        .grid-item{
            width: 45% !important;
        }
    }

       /*Large*/
    @media screen and (max-width: 73.9375em) and (min-width: 64em) {
        .grid-item{
            width: 65% !important;
        }
    }

    /*Medium - big only*/
    @media screen and (max-width: 63.9375em) and (min-width: 55em){
        .grid-item {
            width: 75% !important;
            margin-left: 10% !important;
        }
    }

  /*Medium - small only*/
    @media screen and (max-width: 54.9375em) and (min-width: 40em) {
        .grid-item {
            width: 95% !important;
        }
    }


    /* Small only */
    @media screen and (max-width: 39.9375em) {
        .grid-item {
            width: 95% !important;
            margin-left: 3% !important;
            }

        .grid {
           padding: 0 !important;
        }
    }

#dishes ul#grid .grid-item .card-kitchen{

}

.card-kitchen {
    padding: 0;
    width: 100%;
    height:auto;

    border-radius: 5px;
    background-color: #fff;
    position: relative;
    display: block;
    border:1px solid #ea5c22;


    }

    .card-kitchen hr{color: #ea5c22;}

    .card-kitchenName {
	  border-bottom: 1px solid #ea5c22;
      border-bottom-width: 80%;
      padding: .9em .9em 0 .9em;}

    .card-kitchen-link {
      color: #ea5c22;
      transition: all .3s ease;}

    .card-kitchen-link:hover {
	  color: #fff;}

    .card-kitchenlink {
	  position: absolute;
      top: 5px;
      left: 5px;
      z-index: 9999;}

    .card-kitchenImage {
      margin: .3em;
      width: 50px;
	  height: 50px;
      border-radius: 100%;
      background-color: #200}

    .card-kitchenImage,.card-kitchenImageDetails{
      display: inline-block}

    .card-kitchenImage,.card-kitchenImageDetails > .details:nth-child(2){
      font-size: 13px;
      color: #202020;}

    .card-dishPicture {
      /*overflow: hidden;*/
      position: relative;
      /*border: 4px solid #fff;*/
      padding: 0;
	  width: 100%;
    }
.card-dishPicture > figure > img {}


/*my kitchen end*/
/*--------------------------------------------------------*/
.kitchen-card-list {
	display: inline;
}
.kitchen-card-item,.kitchen-card-list{
    list-style: none; }
.kitchen-card-list > .kitchen-card-item{
    height: auto;
}
    .watch-list {
	width: 100%;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto; }
#mobile-about{display: none;}
/* headlines with lines */

.page-overlay {
    background-color: rgba(10,10,10,.1);
	display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    : 10000;
    overflow: hidden;}

.decorated{
     overflow: hidden;
     text-align: center;
    margin-bottom: 1.6em; }
    .decorated > span{
        position: relative;
        display: inline-block;}
    .decorated > span:before,
     .decorated > span:after{
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 2px solid;
        width: 100px; /* half of limiter */
        margin: 0 50px; }
    .decorated > span:before{
        right: 90%; }
    .decorated > span:after{
        left: 90%; }

/*add item content*/
.form-addItem-holder {
    display: none;
    z-index:15000;
	width: 35em;
    height: 50em;
    position: fixed;
    transform: translate(17%,40%);  }
    .form-addItem-holder .add {
        /*z-index: 9999;*/
        position: relative;
        margin: .2em 0;
        padding: 1em;
        width: 100%;
        height: auto;
        border: 1px solid #ea5c22;
        background-color: rgba(10,10,10,0.4); }
    .form-addItem-holder .add  input[type=text],input[type=number] {
        color: #ea5c22;
        border-radius: 5px; }
     textarea{resize: none;}
    .form-h{position: relative;}
    .form-closeIcon {
      padding: .6em 0 .6em .9em ;
      min-height: 42px;
      min-width: 42px;
	  position: absolute;
      right: 18px;
      top: -50px;
      cursor: pointer;}
    .is-animated-in{
        animation: animate-in .9s ease-in-out forwards;}
    .is-animated-out{
        animation: animate-out .9s ease-in-out forwards;}
    .recipe-form,textarea{
	    border-radius: 5px;}
        @keyframes animate-in{
            from{transform: translate(40%,65%);}
            to{transform: translate(40%,-120%);}
         }
        @keyframes animate-out{
            to{transform:translate(20%,-120%);}
            from{transform: translate(20%,65%);}
        }

.bg{background: #fafafa;}
.kitchen-links{
    margin: 0 auto;
    width: 300px;
    background: #fafafa;
    border: 1px solid #616161;
    border-radius: 35px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee}
.add-item-links > ul{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;}
    .add-item-links > ul li{
      color: #f17f42;
      margin: 0;
      height: 100%;
      display: inline-block;
      margin: 0 1em;
      cursor: pointer;}
    .add-item-links > ul li:hover{
      transform: scale(1.1);}
    .modalIcon{font-size: 10px;}
    /*Medium and up*/
    @media screen and (min-width: 40em) {
      /* .add-item-links > ul li .modalIcon{
      }*/
}
    /*medium only*/
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {
        .add-item-links > ul li{
            /*margin: 6em 3em;*/
        }
        /*.add-item-links > ul li .modalIcon{
      font-size: 10px;}*/
        .form-addItem-holder{
         width: 29em;
        /* transform: translate(28%,-17%);*/
        }
}
    /*small only*/
    @media screen and (max-width: 39.9375em) {
        .add-item-links > ul li {
	       /*margin: 1em 1em;*/}
        .form-addItem-holder{
            /*transform: translate(35%, -7%);*/
            width: 20em;
        }
}
.tag {
    margin: 1px;
	border:1px solid #ea5c22;
    background: #eee;
    color: #000;
    border-radius: 5px;
    display: inline-block;
    font-size: .8em;
    padding:  0 .2em;
    text-align: center;}
     .price-tag{
         color: #fff;
       padding-top: .3em;
       text-align: center;
       bottom:-15px;
       right: 3%;
       position: absolute;
       background: #dd191d;
       border: 1px solid #9e9e9e; /*set border colour here*/
       width: 80px;
       height: 40px;
       border-radius: 3px;
          /*set shadow colour  and size here*/
       /*-webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
      -moz-box-shadow: 0 1px 10px rgba(113, 158, 206,0.8);/**/
      filter: drop-shadow(0 1px 10px rgba(113, 158, 206,0.8));}
     .price-tag:after,
     .price-tag:before {
       bottom: 100%;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;}
     .price-tag:after {
       border-color: rgba(255, 255, 255, 0);
       border-bottom-color: #ffffff;
       border-width: 9px;
       left: 50%;
       margin-left: -9px;}
     .price-tag:before {
       border-color: rgba(113, 158, 206, 0);
       border-bottom-color: #719ECE;
       border-width: 10px;
       left: 50%;
       margin-left: -10px;}


#commentModal {
    position: relative;
}




.comments-modal {

    margin: 0 auto;
    padding: .9em;
	background-color: #eee;}
    .comments-header:before,
    .comments-header:after,
    .comments-body:before,
    .comments-body:after,
    .comments-box:before,
    .comments-box:after{
        content: '';
        display: table;}
    .comments-header:after,
    .comments-body:after,
    .comments-box:after{
      clear: both;}
    .comments-header-left{float: left;}
    .comments-header-right{float: right;}
    .comments-body--image {
      border: 1px solid #000;
      float: left;
	  width: 50%;
      height: 350px;
      overflow: hidden;
      object-fit:  contain;}
    .comments-body{overflow: hidden;}
    .comments-body--howToPrepare {
       padding: .9em;
	   text-align: center;}
    .comments-body--ingredients {
      padding: 1.9em;
      border: 1px solid #000;
      float: right;
	  width: 50%;
      height: 350px;}
    .comments-ingredientContainer {
	   display: flex;
       flex-direction: column;
       margin: auto;
       width: 100%;}
    .comments-body--ingredients > ul li{
      margin: 5px;}
    .comments-textarea{
        float: left;
        width:100%;}
    .comments-comments-ratings{float: left;}
    .comments-ratings{
        background-color: #fff;
        width:100%;}
    .comment-input{
      height: 60px;}
    /*comments holder section*/
    .comments-holder {
	 display: block;
     width: 100%;
     padding: 14px 20px;}
    #comments {
	  display: block;}
    #comments .cmmnt .avatar{
        position: absolute;
        top: 0;
        left: 0;}
    #comments .cmmnt, ul .cmmnt{
        display: block;
        position: relative;
        padding-left: 65px;}
    #comments .cmmnt .comments-content{
        padding: 0px 3px;
        padding-bottom: 12px;
        padding-top: 8px;}

    .cover {
/*        object-fit: cover;*/

    }
    .card-dishPicture.card-modalOrderPicture{
        padding: 0;
        margin: 0;
        text-align: center;
        min-height: 250px;
        height: auto;
        width: 100%;}
    .card-modalOrderPicture > figure{
        width: auto;
        height: auto;}
    .card-modalOrderPicture > figure > img{
        width: auto;
        height: auto;}


     .card-contentPadding{padding: .9em}
    .card-recipeDetails {
      padding: .9em;
	  position: absolute;
      bottom: 0;
      color: #fff;}

    .card-dishPicture{
        height: auto;

}
    .card-dishPicture>figure {
/*      background: rgba(10,10,10,.1);   */
      position: relative;
      overflow: hidden;
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
      min-height: 150px;
    }
    .card-dishPicture > figure > img{
        max-width: 100%;
        height: auto;
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .card-dishPicture > figure > img{

        }
    }

    .card-dishPicture >figure figcaption p {
        text-align: right;
        font-size: 22px;
	  color: #fff;}
    .card-dishPicture>figure figcaption{
        background: linear-gradient(rgba(10,10,10,.1),rgba(10,10,10,.4));
      color: #ea5c22;
      width: 100%;
      position: absolute;
      padding: 0 1em;
      left: 5px;
      bottom:0;}
    .card-dishOrder {
	  text-align: center;}
    .card-dishContent,.plates-order {
	  display: inline-block;}
    .card-dishContent .card-contentHeading {
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      color: #ea5c22;}
    .card-dishContent >  .button {
      color: #fff;
      font-size: 20px;
      background-color: #ea5c22;
      font-family: 'Dancing Script', cursive;
      height:60px ;
      width: 6em;
      margin-left: 5em;}
    .card-chefDetails {
      padding: .9em;}
/*.card-chefDetails,.card-chefLink{}*/
   .card-chefDetails h5 {
	  font-size: 16px;}
    .card-chefImage {
      background-color: #200;
	  height: 50px;
      width: 50px;
      border-radius: 100%;}
    .card-chefImage,h5{ display: inline-block;}
    .card-dishRatings {
      padding: .3em;
      position: relative;}
    .card-dishRatings > .ratings:last-child{
      position: absolute;
      right: 5px;}
    .card-dishRatings > .ratings{
      padding: .5em;
      display: inline-block;}
    .ratings > ul li{
      display: inline-block;}
    .card-dishContent.is-recipe{display: none;}
    .card-kitchenName.is-kitchen{display: none;}
    .card-dishRatings.comments-box{background: #eee;}
    .circled{
      text-align: center;
      color: #fff;
      width: 40px;
	  height: 40px;
      border-radius: 100%;
	  background: red;
      position: relative;}
     .figuer--shade {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
	   background: rgba(10,10,10,.11);}
    .follow-block {
    position: absolute;
    bottom: 0;
    right: 10px;
	 width: 7em;
}
        /*Media Queries*/
        /* Small only */
        @media screen and (max-width: 39.9375em) {
            .card-kitchen {
              width: 100%;
              margin: 3px 0 3px 0;}

            .card-dishContent > .button{
                height: 40px;
              width: 6.38em;
              font-size: 13.5px;
            }
        }


        /* Medium and up */
        @media screen and (min-width: 40em) {}

        /* Medium only */
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

        /* Large and up */
        @media screen and (min-width: 64em) {}

        /* Large only */
        @media screen and (min-width: 64em) and (max-width: 74.9375em) {}


    .c-s{/*card secondary*/
    margin:10px;
    width: 350px;}
    .c-f{/* card follow*/
    width: 250px;
}
    .kitchen-summary {
	 position: absolute;
     bottom: 0;
     width: 100%;}
    .kitchens-details {
	 width: 50%;
}
    .kitchens-details > div ~ p{
        display: inline;
}
    .kitchen-summary > ul{margin: 0;padding: 0;}
    foll.kitchen-summary > ul > li{margin: 0;padding: 0;}


.watcher-pictureHolder {
    width: 100%;
	margin: 0 auto;
    padding: 1em;
}
    .watcher-picture {
        margin: 0 auto;
	  height: 130px;
      width: 130px;
      border-radius: 100%;
      border: 1px solid #ea5c22;}
    .watcher-name {
        padding: 1em;
        text-align: center;
      display: block;
      height:50px;
      width: 100%; }
    .divide{margin: 25px;}

/*    Discover css     */
.discover-page {
    height: 1000px;
}


    .grid:after{
      content: '';
      display: block;
      clear: both;}
    .grid-item {
	float: left;}
#grid {
	max-width: 99em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;

}

.discover {
	border-radius: 50px;
}

/*.line:after{
    content: '';
    position: absolute;
    top: 0;
    border: 1px solid #000;
}*/
.discover-postHolder {
    position: relative;
   border-radius: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 13px 2px #9e9e9e;
	width: 30%;
    max-height: 116px;}



/***************foundation overrides*****************/
.title-bar {
  background: #fff;
  color: #ea5c22;
  padding: 0.5rem; }

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 16px; }
  .menu-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #9e9e9e;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 #9e9e9e, 0 14px 0 #9e9e9e; }
  .menu-icon:hover::after {
    background: #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca; }

.button {
	background-color: transparent;
    color: #ea5c22;
    border: 1.5px solid #ea5c22;
    width: 100%;}
   .button:hover{
      color: #fff;
      background-color: #ea5c22;}
   .button:focus {
      background: #fff;
      color: #ea5c22; }
    .button-follow {
	 width: 30em;
}
.order-detail >.order {
	width: 10em;}
.badge {
    width: 10%;
    margin: 10px ;
	background: #ea5c22;
}

.tabs {
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  list-style-type: none;
  background: #fafafa;
  border:#fff;  }
#mykitchen.tabs{width: auto !important;}
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
        background-color: #fafafa;
        color: #ea5c22;
        transition: all .3s ease;
        border-bottom: 2px solid #ea5c22;}
  .tabs-title > a:hover {
      border-bottom: 2px solid #ea5c22;
      color: #ea5c22;
      background-color:#fefefe;
      }

.general-tabLook{width: 85rem;margin: 0 auto}

.general-userTabs {
	width: 100%;
    background: #fff;}
    .general-tabsholder {
	   width: 21%;
       margin: 0 auto;
}
    .general-userTabs > ul {
      max-width: 100%;
      margin: 0 auto;}
    .top-bar-right > .menu .dropdown {
	display: inline;
}

.top-bar-right,.menu >.add-item,.search-item,.inv {
	margin: 0 .5em;}
  .top-bar,.top-bar ul {
      background-color: #fff; }
    @media screen and (max-width: 39.9375em) {
        .top-bar-right {
	       display: none;}
    }
    .user-iconPicture {
    display: inline-block;
	height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #200;}
    .user-linkNavItem {
	display: inline-block;
        font-size: 13px;
}
.user-linkNavItem > ul li{display: inline-block;height: 100%;margin: 0;}
.row {
  max-width: 95rem !important;
  margin-left: auto;
  margin-right: auto; }

#orderModal {
    position: relative !important;
}

 .order-modal {

    /*center horizontal*/
    left: 50% !important;;
    transform: translate(-50%, 0%) !important;;
    position: absolute !important;;

    /*---------------*/

   background: #eee;
   max-width: 40rem !important;
   min-width: 500px;
   margin-left: auto;
   margin-right: auto;}


/*.reveal {
	height: 30em;
    width: 63%;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(10, 10, 10, 0.1);}*/
    .reveal.full{
      overflow-y: scroll;
      width: 100% !important;
      background-color:rgba(239,239,239,0.96) !important;}
    .reveal.full.order-popup {
      overflow: hidden;}

    .reveal__custom {
        width: 750px;
        background-color: #fff;
    }


    /* Small only */
        @media screen and (max-width: 39.9375em) {
            .reveal__custom {
                width: 100%;

            }
        }


        /* Medium and up */
        @media screen and (min-width: 40em) {}

        /* Medium only */
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

        /* Large and up */
        @media screen and (min-width: 64em) {}

        /* Large only */
        @media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/**************foundation overrides end****************/
/*open a kitchen auth css*/
.form-signIn > ul {
	  width: auto;}
    .form-signIn > ul li{
     height: 100%;
     width: 30%;
	  display: inline-block;}
    .form-signIn > li > a{
      display: block;
      height: 100%;
      width: 100%; }
    .form-signIn > p {
       margin-top:10px ;
	   color: #ea5c22;}
.authentication {
    padding-top: 8em;
    color: #000;
    text-align: center;
	max-width: 40em;
    margin-left: auto;
    margin-right: auto;}
    .authentication-form {
      border: 5px solid #ea5c22;
	  background-color: #f4f4f4;}

.round-button {
	width:15%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:60%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}



