/*=========================================================================== */
        /*---------- General Styles -------------*/
/*=========================================================================== */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html, body {
    width: 100%;
    min-width: 100%;
/*    min-height: 800px;*/
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-size: .9rem;

    -webkit-background-size: cover;
    background-size: cover;
    color: #555;

}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

a {
    margin: 0 auto;
    color: #fff;
}

.container {
    height: 100%;
}
/**--------- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.center-page {
    width: 100%;
    margin: 0 auto;
}

/*----- Colors with opacity ----*/

.red-overlay {background-color:rgba(255,0,0,0.3);}
.green-overlay {background-color:rgba(0,255,0,0.3);}
.blue-overlay {background-color:rgba(0,0,255,0.3);}
.grey-overlay {background-color:rgba(192,192,192,0.6);}
.yellow-overlay {background-color:rgba(255,255,0,0.3);}
.cerise-overlay {background-color:rgba(255,0,255,0.3);}
.white-overlay {background-color:rgba(255,255,255, 0.7);}
.black-overlay {background-color: rgba(0, 0, 0, 0.6);}
.teal-overlay {background-color: rgba(2, 132, 130, 0.7);}
.orange-overlay {background-color:rgba(232,122,74,0.4);}

.adlink-overlay {
    background-color: rgba(180,203,52,1);
}


/*Overlay transition */

/*
@keyframes overlay-change {
    0% {background-color:rgba(192,192,192,0.6);}
    25% {background-color:rgba(255,0,0,0.3);}
    75% {background-color:rgba(0,255,0,0.3);}
    100% {background-color:rgba(255,255,0,0.3);}

}

@-webkit-keyframes overlay-change {
    0% {-webkit-background-color:rgba(192,192,192,0.6);}
    25% {-webkit-background-color:rgba(255,0,0,0.3);}
    75% {-webkit-background-color:rgba(0,255,0,0.3);}
    100% {-webkit-background-color:rgba(255,255,0,0.3);}
}
*/

/*-----------------------------------------*/
/*Background colors*/
.orange-text {color: #E87A4A !important;}
.orange-bg {background-color: #E87A4A !important;}

.yellow-text {color: #e2e43a !important;}
.yellow-bg {background-color: #e2e43a !important;}

.pink-text {color: #F0414C !important;}
.pink-bg {background-color: #F0414C !important;}

.purple-text {color: #4F4FE0 !important;}
.purple-bg {background-color: #4F4FE0 !important;}

.teal-text {color: teal !important;}
.teal-bg {background-color: teal !important;}

.aliceblue-text {color: aliceblue !important;}

/*Colors*/
.teal {color: teal !important;}
.wanjugu {color: #F0414C !important;}
.kirwa{color: #e2e43a !important;}
.ben { color: #E87A4A !important;}
/*-----------------------------------------*/
/* Borders */
.round-shadow {
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
}

.semi-round-shadow {
    border: 1px solid #fff;
    border-radius: 1px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
}

.box-shadow {
    border: 3px solid #fff;
    box-shadow: 0 0 10px #fff;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
}

.round-plain{
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    padding: 20px;
    margin: 5px;
    text-decoration: none;
}

.round-plain-no-margin {
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
/*    padding: 5px;*/
/*    margin: 5px;*/
    text-decoration: none;
}


.box-plain{
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    padding: 20px 20px;
    text-decoration: none;
}

.full-round-plain-border {
    border: 1px solid;
    border-radius: 100px !important;
    text-decoration: none;
}

/*-----------------------------------------*/
/*Foundation Icon sizes*/

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

/*-----------------------------------------*/
/*Foundation media queries*/

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/**-----------------------------------------------------**/

#whole {
    width: 100%;
    height: 100%;
}


/*DEVSHOP WEBSITE*/
/*====================================================================*/

/*Menu Text Colors*/
/*Home*/
.H {color: teal !important;}

/*Portfolio*/
.P {color:  #F0414C !important;
    color: #e2e43a !important;
}

/*Team*/
.T {color: #e2e43a !important;
    color: #E87A4A !important;}

/*Contact*/
.C {color: #E87A4A !important;
    color:  #F0414C !important}

/*ADLINK*/
/*====================================================================*/

.adlink-red {    color: #df2726; }
.adlink-red-bg {    background-color: #df2726; }

.adlink-green {    color: #b4cb34; }
.adlink-green-bg {    background-color: #b4cb34; }


button {
    text-transform: uppercase;
}

/*====================================================================*/

/*Flex*/

.Flex {
    display: inline-flex;
    position: relative;
    width: auto;
    align-items: center;
}

.Flex-Div {
    width: auto;
}

.Flex-v {
    display: flex;
    flex-direction:column;
    position: relative;
    width: auto;
    align-items: center;
}

.f-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.f-vert {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.f-hor {
    display: flex;
    justify-content: center;
}

.rgt {float: right;
}

/*Break wowd wrap*/
.br-word {
    height: auto;
    word-wrap: break-word;
    white-space: normal;
}


/*====================================================================*/
/*Fonts*/

.thin100 {
    font-weight: 100;
}

.thin300 {
    font-weight: 300;
}

.bold700 {
    font-weight: 700;
}
.bold900 {
    font-weight: 900;
}



/*Round Photo*/
.pic-round {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}


/*text sizez*/
.bld {
    font-weight: bolder!important;
}

.st-txt {
    font-size: .9rem !important;
    font-weight: 500 !important;
    letter-spacing: -.5px
}

.st-txt2 {
    font-size: .8rem !important;
    font-weight: 600;
    letter-spacing: -.5px
}

.st-txt3 {
    font-size: .9rem !important;
    font-weight: 300 ;
    letter-spacing: -.5px
}

.st-txt4 {
    font-size: 1.1rem !important;
    font-weight: 300 ;
    letter-spacing: -.5px
}

.st-txt5 {
    font-size: .85rem !important;
    font-weight: 400 ;
    letter-spacing: -.4px
}

.st-txt6 {
    font-size: 1.3rem !important;
    font-weight: 600 ;
    letter-spacing: -.4px
}

.st-txt7 {
     font-size: .8rem !important;
    font-weight: 400 ;
    letter-spacing: -.4px
}

.st-txt8 {

    font-weight: 300 ;
    letter-spacing: -.4px;
/*    color: #b4cb34;*/
}

.st-txt9 {
    font-size: 2rem !important;
    font-weight: 400 ;
    letter-spacing: -.3px;
/*    color: #ff8c00;*/
}

.st-txt10 {
    font-size: 1.5rem !important;
    font-weight: 300 ;
    letter-spacing: -.3px;
    ;
}


/*Adlink greens*/
.gr1 { color: #66b345; }
.gr2 { color: #a2b924; }


/*----------------------------------*/
/*BUTTONS*/

.ntcb, .ntcb-lt {
    width: auto;
    min-width: 120px;
    padding: 10px;
    margin: 20px 0px;
    font-size: .8rem !important;
    font-weight: 400;
    border-radius: 1px;
    text-transform: uppercase;
}

.ntcb {
    background-color: rgba(180,203,52,.8);
/*    background-color: rgba(255,192,0,1);*/
    color: #fff;
    border: #fff solid 1px;
}

.ntcb:hover {
    background-color: #fff;
    color: #b4cb34;
    border: #b4cb34 solid 1px;
}

.ntcb-lt {
    font-weight: 300;
    color: #a2b924;
    background-color: #fff;
    border: 1px #a2b924 solid;
    font-size: .8rem;
    margin-top: 10px;
}

.ntcb-lt:hover {
    color: #fff;
     background-color: rgba(180,203,52,0.7);
    border: 2px #fff solid;
    font-weight: bold
}

.bttn-b-g {
    background-color: #252525;
    border-color: #8dc63f;
    color: #8dc63f;
}

.bttn-b-g:hover {
    background-color: #8dc63f;
    border-color: #8dc63f;
    color: #fff;
}

.bttn-w {
    color: #191919 ;
    border-color: #191919 ;
    background-color: #fff;
}

.bttn-w:hover {
    color: #8dc63f;
    border-color: #8dc63f !important;
    background-color: #fff;
}

.bttn, .bttn-b-g, .bttn-w {
    font-size: .7rem;
}

.bttn3, .bttn4 {
    width: 170px;
    height: 30px;
}

.bttn3 {
    background-color: #252525;
    color: #8dc63f;
    border-radius: 100px;
}

.bttn3:hover {
    background-color: #8dc63f;
    color: #fff;
    box-shadow: 0 0 0px;
}

.bttn4 {
    background-color: #efefef;
    color: #8dc63f;
    border: 1px solid #8dc63f;
    border-radius: 100px !important;
}

.bttn4:hover {
    background-color: #8dc63f;
    color: #fff;
    box-shadow: 0 0 0px;
}

.bttn5 {
    padding: 3px 5px;
    border-radius: 3px;
    color: #8dc63f;
    border: .5px solid #8dc63f;
    background: #fff;
}

.bttn5:hover {
    color: #fff;
    border: .5px solid #fff;
    background: #8dc63f;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .ntcb, .ntcb-lt {
        width: 100px;
        padding: 7px 10px;
        margin: 10px 0px;
        font-size:.8rem !important;
    }
}

