<div class="tiny reveal" id="addDish" data-reveal>
          <form class="form-h dish-form">
                <div class="form-closeIcon">
                        <i class="fa fa-times fa-1x"></i>
                   </div>
               <div class="row">
                  <div class="medium-12 columns">
                      <input type="text" placeholder="Dish name">
                      <input type="text" placeholder="Description">
                      <label for="middle-label" class="text-right middle">Price
                        <input type="number">
                      </label>
                      <label for="middle-label" class="text-right middle">Plates available
                          <input type="number" value="0">
                      </label>
                      <textarea placeholder="Ingredients"></textarea>
         
                    <label for="exampleFileUpload" class="button">Add photo of dish</label>
                    <input type="file" id="exampleFileUpload" class="show-for-sr">  
                   </div>
                   <div class="medium-6 columns">
                    <button class="button" type="submit">Add to menu</button>
                   </div>


                </div>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
      </div>