<div class="card-kitchen">
<div class="card-dishPicture">
    <figure>
        <img src="img/recipe.jpg" alt="Dish">

    </figure>

</div>
<div class="card-dishContent card-contentPadding">
    <i><h5 class="card-contentHeading"><strong>Apple pie</strong></h5>
                                                    <p>Mouth watering dish made wih a touch of honey,fresh apples and mint to give an exotic taste you will never forget</p></i>
    <p class="plates-order">Plates remaining: 30/50</p>
    <a class="button plates-order" data-toggle="orderModal">Order now</a>
</div>
<hr>
<div class="card-chefDetails">
    <div class="card-chefImage"></div>
    <span class="card-chefLink"><a href="#"><h5>By: Chef Amanda</h5></a></span>
</div>
<hr>
<div class="card-dishRatings">
    <div class="ratings card-likes">
        <a href="#"><i class="fa fa-heart-o"></i><span class="likes-counter counter">300</span></a>
    </div>
    <div class="ratings card-comments">
        <a data-toggle="dishCommentModal"><i class="fa fa-comment-o"></i><span class="comments-counter counter">300</span></a>
    </div>
    <div class="ratings card-orders">
        <a href="#"><i class="fa fa-bookmark-o"></i><span class="dishes-counter counter">300</span></a>
    </div>
</div>
</div>