<footer>
        <div class="row">
            <div class="small-4 columns">
                <h6>Navigation</h6>
                 <ul class="footer-link">
                    <li class="flex-column"><a href="#">About Dishi</a></li>
                    <li class="flex-column"><a href="#">Member Agreement</a></li>
                    <li class="flex-column"><a href="#">Policies</a></li>
                </ul>
            </div>
            <div class="small-4 columns">
                <h6>Support</h6>
                <ul class="footer-link">
                    <li class="flex-column"><a href="#">FAQ</a></li>
                    <li class="flex-column"><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="small-4 columns">
                <h6>Social</h6>
                <ul class="footer-link">
                    <li class="flex-column"><a href="#">Google +</a></li>
                    <li class="flex-column"><a href="#">Facebook</a></li>
                    <li class="flex-column"><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
      </footer>