<!-------Top level navigation------->
      <header class="header">
          <!--mobile menu-->
          <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Menu</div>
              <div class="title-bar-right">
                <!--<a class="add-item" data-toggle="addItemModal"><i class="fa fa-pencil-square fa-lg"></i></a>
                <a class="search-item"><i class="fa fa-search fa-lg"></i></a>-->
              </div>
          </div>
        <!--   Visible menu        -->
          <div class="top-bar" id="example-menu">
              <div class="top-bar-left">
                <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                  <li class="menu-text">
                      Dishihub
                  </li>
                  <li>
                    <a href="order.html">Order</a>
                  </li>
<!--                  <li><a href="discover.html">Discover</a></li>-->
                  <li><a href="kitchens.html">Kitchens</a></li>
                  <li><a href="mykitchen.html">My Kitchen</a></li>    
                </ul>
              </div>
              <!--<div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                    <a href="#" class="user-linkNavItem">
                        <ul>
                            <li><div class="user-iconPicture"></div></li>
                            <li>{{user.name}}</li>
                        </ul></a>
                    <ul class="menu vertical">
                      <li><a href="userprofile.html">Profile</a></li>
                      <li><a href="settings.html">Settings</a></li>
                      <li><a href="#">Feedback</a></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>-->
              <div class="top-bar-right">
                <ul class="menu">
                    <ul class="dropdown menu left" data-dropdown-menu>
                  <li>
                    <a href="#" class="user-linkNavItem">
                        <ul>
                            <li><div class="user-iconPicture"></div></li>
                            
                        </ul></a>
                    <ul class="menu vertical">
                      <li><a href="userprofile.html">Profile</a></li>
                      <li><a href="settings.html">Settings</a></li>
                      <li><a href="#">Feedback</a></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
                </ul>
                  <!--<li><a class="search-item is-mobile" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                  <li><a class="add-item is-mobile" data-open="addItemModal"><i class="fa fa-pencil-square fa-lg"></i></a></li>-->
                  <li class="btn"><a class="button inv" data-toggle="inviteModal">Invite</a></li>
                    
                </ul>
                  
              </div>
          </div>
      </header>