<div class="small-3 medium-4 large-3 columns styled-grid">

    <div class="kitchen-about">
        <share-button>Share</share-button>
        <div class="g-edit-icon g-ico"><a data-toggle="inline-edit-kitchenAbout"><i class="fa fa-pencil fa-lg"></i></a></div>
        <div class="kitchen-data">
            <span class="icon"><i class="fa fa-cutlery fa-lg"></i></span>
            <span class="icon-text testimonials"><strong>Services</strong></span>
            <p class="info pad"><small>{{Kitchen services}}</small></p>
        </div>
        <div class="kitchen-data">
            <span class="icon"><i class="fa fa-truck fa-lg"></i></span><span><strong>Delivery areas</strong></span>
            <ul class="flex-container pad">
                <li class="flex-item tag">{{Kileleshwa}}</li>
                <li class="flex-item tag">{{Valley Arcade}}</li>
                <li class="flex-item tag">{{Kileleshwa}}</li>
                <li class="flex-item tag">{{Westlands}}</li>
                <li class="flex-item tag">{{Kileleshwa}}</li>
                <li class="flex-item tag">{{Kilimani}}</li>
            </ul>
            <p class="info pad"><small><i class="fa fa-info-circle fa-lg"></i> {{Delivery past 60km may incur additional charges.}}</small> </p>
        </div>
        <div class="kitchen-data">
            <!--website-->
            <span class="icon"><i class="fa fa-link fa-lg"></i></span>
            <a href="#"><span class="icon-text testimonials">website</span></a>
        </div>

        <div class="contact-btn">
            <span class="icon"><i class="fa fa-phone fa-lg"></i></span>
            <span class="icon-text contacts"><i>0722 421 999</i>,<i>0734 982 115</i></span>
            <!--<span class="icon-text contacts">{{kitchen email}}</span>-->
        </div>
    </div>
</div>