<div class="card-kitchen">
                   <div class="row mgn">
    <div class="large-4 columns">
        <div class="card-kitchenImage l-image"></div>
    </div>
    <div class="large-8 columns">
        <h5>Amanda's Kitchen</h5>
        <p>Bakery</p>
        <p>min order</p>
        <p>delivery Fees</p>
    </div>
</div>
<hr>
<div class="row mgn">
    <div class="large-4 columns">
        <h5>About</h5>
    </div>
    <div class="large-8 columns">
        <p>Lorem ipsum doret askp lorem ipsums ga;s daskol koelws olmana ...</p>
    </div>
</div>
</div>