<div id="kitchen_menu_list" class="center-h">
             <!--<nav class="k-inner__nav secondary_nav">-->
<ul class="tabs" data-tabs id="mykitchen-tabs">
    <li class="tabs-title is-active">
        <a href="#dishes" aria-selected="true" class="k-Fmenuinner_item">
            <span class="k-link">Dishes <span class="badge" id="messageCount">6</span></span>
            <br>

        </a>
    </li>
    <li class="tabs-title">
        <a href="#recipes" class="k-inner_item">
            <span class="k-link">Testimonials<span class="badge" id="messageCount">5</span></span>
            <br>
        </a>
    </li>
    <li class="tabs-title">
        <a href="#conversations" class="k-inner_item">
            <span class="k-link">About<span class="badge" id="messageCount">1</span></span>
            <br>
        </a>
    </li>
    <li class="tabs-title">
        <a href="#followers" class="k-inner_item">
            <span class="k-link">Watchers<span class="badge" id="messageCount">19</span></span>
            <br>
        </a>
    </li>
    <!--<li class="tabs-title"><a href="#testimonials" class="k-inner_item">
                            <span class="k-link">Testimonials<span class="badge" id="messageCount">19</span></span><br>
                            </a></li>-->
</ul>
<!--</nav>-->
</div>
<!--menu-list end-->